#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Panel_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 17px 17px 17px 17px;
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Thank_You {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Logo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3bb9f773-8017-4458-8823-500c2bcb900d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}