#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Cart_1 .s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Cart_1 .s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Cart_1 .s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Logo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9716171c-f48b-48f1-8a7d-605537d81f0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}