#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 > #backgroundBox {
  background-color: #FAFAFA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 868px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-UserSelector {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Body_Content {
  width: 0px;
  height: 165px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Body_Content > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Body_Content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Body_Content > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 165px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Body_Content .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Submenu1 {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_5 {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_5 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 {
  position: absolute;
  width: 242px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 > .paddingLayer {
  height: 52px;
  width: 242px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 span {
  color: #C7C7C7;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #C7C7C7;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 {
  position: absolute;
  width: 242px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 > .paddingLayer {
  height: 51px;
  width: 240px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 span {
  color: #00BFA5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #00BFA5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_9 {
  width: 0px;
  height: 165px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_9 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 165px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 {
  position: absolute;
  width: 240px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 > .paddingLayer {
  height: 50px;
  width: 240px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 span {
  color: #C7C7C7;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #C7C7C7;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 {
  position: absolute;
  width: 242px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 > .paddingLayer {
  height: 50px;
  width: 240px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 span {
  color: #00BFA5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #00BFA5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Login {
  width: 0px;
  height: 570px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Login > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Login td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Login > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 570px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Login .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Dynamic_Panel_33 {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 {
  width: 340px;
  height: 568px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 > .layoutWrapper {
  left: 10px;
  top: 10px;
  width: 320px;
  height: 548px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Dynamic_Panel_4 {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_3 {
  width: 0px;
  height: 100px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #00BFA5;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 {
  position: absolute;
  width: 0px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 > .paddingLayer {
  height: 50px;
  width: 98px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 span#rtr-s-Rectangle_7_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 {
  position: absolute;
  width: 0px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_10 > .paddingLayer {
  height: 38px;
  width: 67px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 {
  position: absolute;
  width: 0px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808080;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Input_11 > .paddingLayer {
  height: 38px;
  width: 67px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_22 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_22 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_22 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_22 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_23 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_23 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_23 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_23 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Nav {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content {
  width: 0px;
  height: 68px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 68px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Nav_Logo {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Desktop {
  width: 169px;
  height: 32px;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Desktop > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Desktop td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Desktop > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 169px;
  height: 32px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Desktop .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo span {
  color: #00BFA5;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo span#rtr-s-Logo_0 {
  color: #00BFA5;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Mobile {
  width: 157px;
  height: 31px;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Mobile > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Mobile td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Mobile > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 157px;
  height: 31px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_Mobile .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 > .clipping, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 span {
  color: #00BFA5;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 span#rtr-s-Logo_1_0 {
  color: #00BFA5;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Nav_Icons {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop {
  width: 180px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 180px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_105 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_105 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_105 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_105 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_3 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_3 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_3 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_10 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_10 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_10 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_10 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_30 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_30 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_30 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_30 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile {
  width: 114px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 114px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_104 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_104 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_104 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_104 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_2 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_2 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_2 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_2 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_9 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_9 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_9 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_9 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_29 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_29 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_29 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_29 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Footer {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content_1 {
  width: 0px;
  height: 48px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 48px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Navbar_Content_1 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Nav_Icons_1 {
  position: absolute;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop_1 {
  width: 180px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 180px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Desktop_1 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_91 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_91 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_91 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_91 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_6 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_6 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_6 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_6 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_1 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_1 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_1 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_1 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_7 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_7 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_7 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_7 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile_1 {
  width: 114px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 114px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Icons_Mobile_1 .verticalalign {
  vertical-align: top;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_92 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_92 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_92 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_92 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_8 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_8 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_8 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_8 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_4 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_4 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_4 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_4 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_11 > svg {
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_11 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_11 > img, #s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_11 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}