#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_8 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_9 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Panel_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 17px 17px 17px 17px;
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Logo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a513ac6c-c900-4f3a-ac31-df6e68a46ff8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}