#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Color_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Price_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_17 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_18 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_19 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-arrow_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Panel_17 > .valign {
  vertical-align: top;
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Color {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Price {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00BFA5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00BFA5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00BFA5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00BFA5;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_10 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_11 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_12 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 0px 0px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Logo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e4b5c1eb-6a2a-465e-a52d-f39f481d0ba3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}