.container-view {
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  max-width: 640px;
  padding: 10px;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 10px 20px;
  }
}

mat-card {
  margin-bottom: 10px;
  width: 100%;
}
