<div class="container-view" fxLayout="row" fxLayoutAlign="start center">
  <div class="wrapper" fxLayout="row">
    <mat-card fxFlex="0 1 calc(100%)">
      <mat-card-header>
        <mat-card-title>{{ activity.name }} Detail</mat-card-title>
        <mat-card-subtitle>{{ activity.category }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5>{{ activity.name }}</h5>
        <h6>{{ activity.category }}</h6>
        <p><span>Subcategory: </span>{{ activity.subcategory }}</p>
        <p><span>Description: </span>{{ activity.description }}</p>
        <p><span>Language: </span>{{ activity.language }}</p>
        <p><span>Price: </span>{{ activity.price }}</p>
        <p><span>Date: </span>{{ activity.date | date: "dd/MM/yyyy" }}</p>
        <p><span>People Registered: </span>{{ activity.peopleRegistered }}</p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onDelete()">
          Remove Favorite
        </button>
        <button mat-button [routerLink]="['/favorites']">Close</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
