.container-view {
  width: 100%;
  padding: 10px;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
}

mat-card {
  width: 100%;
  max-width: 320px;
}

form {
  width: 100%;
  max-width: 320px;
}

mat-icon.icon-invalid {
  color: #f44336;
}
