label {
  text-transform: capitalize;
}
.wrapper-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-form {
  width: 320px;
  margin: 100px 0;
}

.wrapper-form h2 {
  text-align: center;
  margin: 30px 0;
}

.activity-form > *,
.activity-group > * {
  margin: 10px 0;
}

.activity-group > * > * {
  width: 100%;
}

.wrapper-button {
  display: flex;
  justify-content: flex-end;
}

.field {
  width: 100%;
}

input,
select {
  width: 100%;
}
