/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COLORS */

:root {
  --text: #000000;
  --text-hover: #ffffff;
  --current: #306291;
}

/* FONTS */

h1 {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

h2 {
  font-size: 22px;
  line-height: 25px;
  text-align: center;
}

footer, article {
  font-size: 18px;
}

/* MOBILE DEVICE */

/* WRAPPER */

.wrapper {
  /*display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  max-width: 100%;
  margin: 10px;*/
}

.wrapper>* {
  /*grid-column: col-start / span 12;
  border-radius: 5px;*/
  padding: 10px;
}

/* NAV */

.main-nav img {
  width: 40px;
}

.main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text);
}

.main-nav a:hover {
  color: var(--text-hover);
}

.main-nav>ul>li {
  padding: 10px;
  text-align: center;
  list-style: none;
  font-weight: bold;
}

.main-nav>ul>li>.current {
  color: var(--current);
}

/* FOOTER */

.main-footer {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.main-footer a {
  text-decoration: none;
  color: var(--text);
}

.links-group {
  padding-top: 25px;
  padding-bottom: 20px;
}

.links-social {
  padding-top: 25px;
  padding-bottom: 20px;
}

#arrow a {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer a:hover {
  color: var(--text-hover);
}

.main-footer ul>li {
  list-style: none;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.main-footer p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.main-footer img {
  width: 40px;
}

/* MAIN */

main {
  width: 100%;
}

main>article>h1 {
  padding-bottom: 15px;
}

ul.breadcrumb {
  list-style: none;
  text-align: center;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--current);
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: var(--current);
  text-decoration: underline;
}

/** INDEX **/

.index-title-description {
  text-align: center;
  padding-bottom: 30px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-article-1 {
  width: 100%;
}

.index-article-2 {
  width: 100%;
  padding: 50px 10px 0px 10px;
}

.index-article-2 h2 {
  padding-bottom: 30px;
}

.index-img-container img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

/* OBJETIVES */

.objetives-content {
  padding: 0px 30px 0px 30px;
}

.objetives-container {
  padding-top: 25px;
}

section img {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

article>section>p {
  padding-top: 30px;
  padding-bottom: 30px;
}

article>section>a {
  color: var(--text);
  text-decoration: none;
}

article>section>a:hover {
  color: var(--current);
  text-decoration: none;
  text-decoration: underline;
}

/* OBJETIVES 1 */

.objetive-submenu {
  padding: 10px;
}

.objetive-submenu img {
  width: 100%;
  height: auto;
  padding: 30px 50px 30px 50px;
}

.objetive-submenu>ul {
  padding: 5px;
  text-align: center;
  list-style: none;
  font-weight: bold;
}

.objetive-submenu>ul>li {
  padding: 5px;
}

.objetive-submenu>ul>li>a {
  color: var(--current);
  text-decoration: none;
}

.objetive-container {
  padding: 10px;
}

.objetive-container h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.objetive-container h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
}

.objetive-container>section>ul>li {
  margin: 20px;
  text-align: justify;
}

.objetive-container>section>ol>li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  margin: 20px;
}

.objetive-container>section>ul>li>a {
  color: var(--current);
  text-decoration: none;
}

/* CONTACT */

.form-container {
  padding: 20px 0px 10px 0px;
  width: 100%;
}

form section>h2 {
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-container {
  padding: 10px 0px 10px 0px;
}

.input-container p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}

.input-container a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--current);
}

.input-container a:hover {
  text-decoration: underline;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--text-hover);
  border: 1px solid var(--text);
  border-radius: 4px;
  font-style: italic;
}

input[type=checkbox] {
  margin-left: 10px;
}

input[type=submit] {
  background-color: var(--current);
  color: var(--text-hover);
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.input-submit-container {
  padding: 10px 50px 10px 50px;
}

.visuallyhidden {
  display: none;
}

select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: var(--text-hover);
  font-weight: bold;
  border: 1px solid var(--text);
}

textarea {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  outline: none;
  resize: none;
  overflow: auto;
  border: 1px solid var(--text);
}

/* OTHER DEVICES */

@media (min-width: 650px) {
  /* NAV */
  .main-nav {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-nav img {
    width: 60%;
  }
  .main-nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  /* FOOTER */
  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links-group>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .links-social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .links-social ul>li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .links-group ul>li {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* MAIN */
  /** INDEX **/
  .index-article-1 {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .index-img-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .index-img-container a {
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}