/************ BODY RESET ************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* setting font default */
    font-family: 'Roboto';
    font-size: 18px;
}

html,
body {
    height: 100%;
}


/************ SET COLORS THEME ************/

:root {
    --primary: #306291;
    --primary-dark: rgba(69, 141, 209, 0.5);
    --primary-white: rgba(69, 141, 209, 0.2);
    --primary-text: #1f1f11;
    --primary-text-white: #666666;
    --contrast: #D9645D;
}


/************ SET FONTS THEME ************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab';
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

footer,
article {
    font-size: 16px;
}

.text-home {
    font-size: 24px;
}

form {
    /*LEYENDA*/
    font-size: 24px;
    /*BOTON ENVIAR
    font-size: 22px;*/
}

li {
    display: inline;
}

a {
    text-decoration-style: solid 2px;
}


/************ SET NAVBAR ************/

.logo-container {
    padding: 20px 20px 0px 100px;
}

.nav-container {
    padding: 10px 20px 20px 100px;
}

nav>ul>li>a {
    margin: 0px 40px 0px 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.line-nav {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}


/************ SET ARTICLE ************/

article {
    background-image: url(../material_PEC2/images/fonsrobot.jpg);
    background-size: cover;
    height: calc(header - footer);
}


/************ SET FOOTER ************/

footer>span {
    padding: 15px;
    text-align: center;
}

.line-footer {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

M