<div class="wrapper-new-wine">
  <div class="form-group wrapper-form">
    <h2>Create a New Wine</h2>
    <form
      class="wine-form"
      (ngSubmit)="createWine(wineForm)"
      [formGroup]="wineForm"
    >
      <div class="wine-group">
        <div class="wine-name">
          <mat-form-field appearance="fill" class="field">
            <mat-label>Wine Name</mat-label>
            <input
              matInput
              type="text"
              name="name"
              placeholder="Wine Name"
              formControlName="name"
              required
            />
            <mat-error
              *ngIf="
                wineForm.get('name')!.dirty ||
                wineForm.get('name')!.touched ||
                message
              "
            >
              <div *ngIf="wineForm.get('name')?.errors?.required">
                Wine name is required
              </div>
              <div *ngIf="wineForm.get('name')?.errors?.name">
                <div class="wines-error-container">
                  Wine name is not valid.
                  <!--Valid names are:
                  <ul *ngFor="let name of wineForm.get('name')?.errors?.name">
                    <li>{{ name }}</li>
                  </ul>-->
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="wine-price">
          <mat-form-field appearance="fill" class="field">
            <mat-label>Wine Price</mat-label>
            <input
              matInput
              type="number"
              name="price"
              placeholder="Wine Price"
              formControlName="price"
            />
            <mat-error
              *ngIf="
                (wineForm.get('price')?.dirty ||
                  wineForm.get('price')?.touched ||
                  message) &&
                wineForm.get('price')?.invalid
              "
            >
              <div *ngIf="wineForm.get('price')?.errors?.required">
                Wine price is required
              </div>
              <div *ngIf="wineForm.get('price')!.errors!.min">
                Wine price must be atleast
                {{ wineForm.get("price")?.errors?.min?.min }}. Current:
                {{ wineForm.get("price")?.errors?.min?.actual }}
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="wine-image">
          <mat-form-field appearance="fill" class="field">
            <mat-label>Wine Img URL</mat-label>
            <input
              matInput
              type="text"
              name="imageUrl"
              placeholder="Wine Image URL"
              formControlName="imageUrl"
            />
            <mat-error
              *ngIf="
                (wineForm.get('imageUrl')?.dirty ||
                  wineForm.get('imageUrl')?.touched ||
                  message) &&
                wineForm.get('imageUrl')?.invalid
              "
            >
              <div *ngIf="wineForm.get('imageUrl')?.errors?.required">
                Wine Image URL is required
              </div>
              <div *ngIf="wineForm.get('imageUrl')?.errors?.pattern">
                Wine Image URL does not seem to be a valid URL
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="wine-sale">
          <mat-checkbox
            type="checkbox"
            formControlName="isOnSale"
            name="isOnSale"
            >On Sale</mat-checkbox
          >
        </div>
      </div>
      <div class="wrapper-button">
        <button type="submit" mat-raised-button color="primary">
          Create Wine
        </button>
      </div>
    </form>
  </div>
</div>
