label {
    text-transform: capitalize;
  }
  .wrapper-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper-form {
    width: 320px;
    margin: 100px 0;
  }
  
  .wrapper-form h2 {
    text-align: center;
    margin: 30px 0;
  }
  
  .form-result {
    margin: 30px 0 100px 0;
  }
  
  .login-form > *,
  .login-group > * {
    margin: 10px 0;
  }
  
  .login-group > * > * {
    width: 100%;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .field {
    width: 100%;
  }
  