/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* SELECT - CSS */

/* https://www.filamentgroup.com/lab/select-css.html */

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
  border-color: #aaa;
}


:root {
  --grid-unit: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#hearthStone_header {
  height: calc(var(--grid-unit) * 20);
  flex-shrink: 0;
}

#hearthStone_sidebar > * {
  margin-bottom: calc(var(--grid-unit) * 2);
}

#hearthStone_main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#hearthStone_sidebarSelectors {
  flex: 1;
  border-right: 4px solid #666;
  padding: calc(var(--grid-unit) * 4);
}

#hearthStone_sidebarSelectors > * {
  margin-bottom: calc(var(--grid-unit) * 2);
}

#hearthStone_sidebarSelectorsLogo {
  max-width: 100%;
}

#selectors{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  text-transform: capitalize;
}

#hearthStone_cardSelector {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}

#hearthStone_cardSelector > * {
  padding-top: 24px;
}
#hearthStone_cardSelector .card {
  position: relative;
  max-width: calc(var(--grid-unit) * 50);
  margin-top: -24px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease-in-out;
}

#hearthStone_cardSelector .card:hover {
  border-color: #666;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#hearthStone_sidebarDeck {
  flex: 2;
  border-left: 4px solid #666;
  display: flex;
  flex-direction: column;
}

#hearthStone_deckBuilder,
#hearthStone_cardSummary {
  padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 4);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#hearthStone_deckBuilderHeader {
  margin-left: calc(var(--grid-unit) * 2);
  flex-grow: 0;
  flex-shrink: 0;
}

#hearthStone_deckBuilderCards,
#hearthStone_cardSummaryStats {
  margin-top: calc(var(--grid-unit) * 4);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: scroll;
}

#hearthStone_deckBuilderCards > *,
#hearthStone_cardSummaryStats > * {
  padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 4);
  margin-left: calc(var(--grid-unit) * -2);
  margin-right: calc(var(--grid-unit) * -2);
  /* border: 1px solid #ccc; */
  border-radius: 3px;
}

#hearthStone_deckBuilderCards > *:hover {
  background-color: #eee;
  cursor: pointer;
}

#hearthStone_cardSummary {
  border-top: 4px solid #666;
}

#hearthStone_footer {
  border-top: 4px solid #666;
  color: #111;
  padding: calc(var(--grid-unit) * 4);
  text-align: center;
  font-size: 14px;
}

.card-not-found {
  width: 256px;
  height: 241px;
}