<div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()"> 
        <div class="form-group">
            <div>
                <!-- Level -->
                <label for="type">Type:</label>
                <select (change)="onChangeTypeValue()" formControlName="type" class="form-control mb-4" placeholder="Type">
                    <option [ngValue]="null">Select type...</option>                
                    <option *ngFor="let type of eEducationTypes | keyvalue" [ngValue]="type.value">{{type.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('type').errors && (rForm.get('type').touched || rForm.get('type').dirty)">                
                    <span *ngIf="rForm.get('type').errors.required">Type is required</span>
                </span>
            </div>
            <div>
                <!-- Level -->
                <label for="level">Level:</label>
                <select formControlName="level" name="level" class="form-control mb-4" placeholder="Level">
                    <option [ngValue]="null">Select level...</option>                
                    <option *ngFor="let level of eLevelTypes | keyvalue" [ngValue]="level.value">{{level.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('level').errors && (rForm.get('level').touched || rForm.get('level').dirty)">                
                    <span *ngIf="rForm.get('level').errors.required">Level is required</span>
                </span>
            </div>
            <div>
                <!-- Name -->
                <label for="name">Name:</label>
                <input type="text" placeholder="Name" name="name" formControlName="name" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('name').errors && (rForm.get('name').touched || rForm.get('name').dirty)">                
                    <span *ngIf="rForm.get('name').errors.required">Name is required</span> 
                    <span *ngIf="rForm.get('name').errors.minlength || rForm.get('name').errors.maxlength">Name must be greater than 3 characters and less than 55 characters</span>
                </span>
            </div>
            <div>
                <!-- University -->
                <label for="university">University:</label>
                <input type="text" placeholder="University" name="university" formControlName="university" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('university').errors && (rForm.get('university').touched || rForm.get('university').dirty)">                
                    <span *ngIf="rForm.get('university').errors.required">University is required</span> 
                    <span *ngIf="rForm.get('university').errors.minlength || rForm.get('university').errors.maxlength">University must be greater than 3 characters and less than 55 characters</span>
                </span>
            </div>
            <div>
                <!-- Finish date -->
                <label for="date">Finish date:</label>
                <input type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('date').errors && (rForm.get('date').touched || rForm.get('date').dirty)">                
                    <span *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</span>
                </span>
            </div>
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div>
