<div>
  <mat-card
    class="wine-card"
    [class]="wine.isOnSale === true ? 'is-stock-shadow' : 'out-stock-shadow'"
  >
    <mat-card-header>
      <mat-card-title>{{ wine.name }}</mat-card-title>
      <mat-card-subtitle
        class="wine-subtitle"
        [class]="wine.isOnSale === true? 'is-stock-color' : 'out-stock-color'"
        >{{
          wine.isOnSale === true ? "available" : "unavilable"
        }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="wine-content">
      <div class="img-container">
        <img height="350px" [src]="wine.imageUrl" alt="" />
      </div>
      <div class="price">Price: {{ wine.price }} €</div>
    </mat-card-content>
    <mat-card-actions class="btn-actions">
      <button
        mat-icon-button
        color="primary"
        (click)="decrement()"
        *ngIf="wine.quantityInCart > 0"
      >
        -
      </button>
      
      <div>{{ wine.quantityInCart }}</div>

      <button mat-icon-button color="primary" (click)="increment()">+</button>
    </mat-card-actions>
  </mat-card>
</div>
