/**
 *! BASE CONTENTS FOR ITCSS
 *
 ** SETTINGS - 01_settings"
 *? Used with preprocessors and contain font, colors definitions, etc.
 * Global...............Globally-available variables and config.
 */

@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

$primary: #fd3075;
$myBlack: #212529;
$myWhite: #ffffff;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: "Fira Code", monospace;
$font-family-serif: "Permanent Marker", cursive;

$font-family-base: $font-family-sans-serif;
$font-family-code: $font-family-monospace;
