<mat-card
  class="wine-card"
  [class]="wine.isOnSale === true ? 'is-stock-shadow' : 'out-stock-shadow'"
>
  <mat-card-header>
    <mat-card-title>{{ wine.name }}</mat-card-title>
    <mat-card-subtitle
      class="wine-subtitle"
      [class]="wine.isOnSale === true ? 'is-stock-color' : 'out-stock-color'"
      >{{
        wine.isOnSale === true ? "available" : "unavilable"
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="wine-content">
    <img
      class="wine-image"
      [src]="wine.imageUrl | image"
      [alt]="wine.name"
      routerLink="/wine/{{ wine.id }}"
    />

    <div class="price">
      Price: {{ wine.price | currency: "EUR":"symbol":"1.2-2" }}
    </div>
  </mat-card-content>
  <mat-card-actions class="btn-actions">
    <button
      mat-icon-button
      color="primary"
      (click)="decrement()"
      *ngIf="wine.quantityInCart > 0"
    >
      -
    </button>

    <div>{{ wine.quantityInCart }}</div>

    <button mat-icon-button color="primary" (click)="increment()">+</button>
  </mat-card-actions>
</mat-card>
