<div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()"> 
        <div class="form-group">
            <div>
                <!-- Category -->
                <label for="type">Category:</label>
                <select (change)="onChangeCategoryValue()" formControlName="category" class="form-control mb-4" placeholder="Category">
                    <option [ngValue]="null">Select category...</option>                
                    <option *ngFor="let category of eActivityCategories | keyvalue" [ngValue]="category.value">{{category.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('category').errors && (rForm.get('category').touched || rForm.get('category').dirty)">                
                    <span *ngIf="rForm.get('category').errors.required">Category is required</span>
                </span>
            </div>
            <div>
                <!-- Subcategory -->
                <label for="type">Subcategory:</label>
                <select formControlName="subcategory" class="form-control mb-4" placeholder="Subcategory">
                    <option [ngValue]="null">Select subcategory...</option>                
                    <option *ngFor="let subcategory of eSubcategory | keyvalue" [ngValue]="subcategory.value">{{subcategory.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('subcategory').errors && (rForm.get('subcategory').touched || rForm.get('subcategory').dirty)">                
                    <span *ngIf="rForm.get('subcategory').errors.required">Subcategory is required</span>
                </span>
            </div>
            <div>
                <!-- Name -->
                <label for="name">Name:</label>
                <input type="text" placeholder="Name" name="name" formControlName="name" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('name').errors && (rForm.get('name').touched || rForm.get('name').dirty)">                
                    <span *ngIf="rForm.get('name').errors.required">Name is required</span> 
                    <span *ngIf="rForm.get('name').errors.minlength || rForm.get('name').errors.maxlength">Name must be greater than 3 characters and less than 55 characters</span>
                </span>
            </div>
            <div>
                <!-- Description -->
                <label for="university">Description:</label>
                <input type="text" placeholder="Description" name="description" formControlName="description" class="form-control mb-4">                
            </div>            
            <div>
                <!-- Language -->
                <label for="language">Language:</label>
                <select formControlName="language" class="form-control mb-4" placeholder="Language">
                    <option [ngValue]="null">Select language...</option>                
                    <option *ngFor="let language of eActivityLenguages | keyvalue" [ngValue]="language.value">{{language.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('language').errors && (rForm.get('language').touched || rForm.get('language').dirty)">                
                    <span *ngIf="rForm.get('language').errors.required">Language is required</span>
                </span>
            </div>
            <div>
                <!-- Date -->
                <label for="date">Date:</label>
                <input type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('date').errors && (rForm.get('date').touched || rForm.get('date').dirty)">                
                    <span *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</span>
                </span>
            </div>
            <div>
                <!-- Price -->
                <label price="name">Price:</label>
                <input type="number" placeholder="Price" name="price" formControlName="price" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('price').errors && (rForm.get('price').touched || rForm.get('price').dirty)">                
                    <span *ngIf="rForm.get('price').errors.required">Price is required</span>   
                    <span *ngIf="rForm.get('price').errors?.errorLessZero">Price must be greater than zero</span>                  
                </span>
            </div>
            <div>
                <!-- Minium Capacity -->
                <label price="miniumCapacity">Minium Capacity:</label>
                <input type="number" placeholder="Minium Capacity" name="miniumCapacity" formControlName="miniumCapacity" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('miniumCapacity').errors && (rForm.get('miniumCapacity').touched || rForm.get('miniumCapacity').dirty)">                
                    <span *ngIf="rForm.get('miniumCapacity').errors.required">Minium Capacity is required</span>                     
                    <span *ngIf="rForm.get('miniumCapacity').errors?.errorLessZero">Minium Capacity must be greater than zero</span>
                </span>
            </div>
            <div>
                <!-- limit Capacity -->
                <label price="limitCapacity">Limit Capacity:</label>
                <input type="number" placeholder="Limit Capacity" name="limitCapacity" formControlName="limitCapacity" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('limitCapacity').errors && (rForm.get('limitCapacity').touched || rForm.get('limitCapacity').dirty)">                
                    <span *ngIf="rForm.get('limitCapacity').errors.required">Limit Capacity is required</span>                     
                    <span *ngIf="rForm.get('limitCapacity').errors?.errorLessZero">Limit Capacity must be greater than zero</span>
                </span>
            </div>
            <div>
                <!-- State -->
                <label for="state">State:</label>
                <select formControlName="state" class="form-control mb-4" placeholder="State">
                    <option [ngValue]="null">Select state...</option>                
                    <option *ngFor="let state of eActivityStates | keyvalue" [ngValue]="state.value">{{state.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('state').errors && (rForm.get('state').touched || rForm.get('state').dirty)">                
                    <span *ngIf="rForm.get('state').errors.required">State is required</span>
                </span>
            </div>            
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div>
