<div class="wrapper-blocks">
  <div class="wrapper-table">
    <div class="main-container">
      <div class="table-container">
        <div class="table-row heading">
          <div class="row-item">Name</div>
          <div class="row-item">Category</div>
          <div class="row-item">Price</div>
          <div class="row-item">Language</div>
          <div class="row-item">Date</div>
          <div class="row-item">Actions</div>
        </div>
        <div class="table-row" *ngFor="let activity of activities">
          <div class="row-item">{{ activity.name }}</div>
          <div class="row-item">{{ activity.category }}</div>
          <div class="row-item">{{ activity.price }}</div>
          <div class="row-item">{{ activity.language }}</div>
          <div class="row-item">
            {{ activity.date | date: "dd/MM/yyyy" }}
          </div>
          <div class="row-item buttons">
            <button routerLink="/activities/edit/{{ activity.id }}">
              edit
            </button>
            <button (click)="onDelete(activity, 'delete-modal')">delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-buttons">
      <button routerLink="/activities/new">Add Activity</button>
    </div>
  </div>

  <app-modal id="delete-modal">
    <div class="modal-container">
      <p>You're deleting {{ selectedActivity?.name }}</p>
      <p>are you sure?</p>
    </div>
    <div class="wrapper-buttons">
      <button (click)="confirmModal(selectedActivity, 'delete-modal')">
        Ok
      </button>
      <button (click)="closeModal('delete-modal')">Cancel</button>
    </div>
  </app-modal>
</div>
