/**
 *! BASE CONTENTS FOR ITCSS
 *
 ** COMPONENTS - 06_components
 *? Specific UI components. This is where the majority of our work takes place and our UI components are often composed of Objects and Components
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 */

$toast-max-width: 100%;
