<div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()"> 
        <div class="form-group">
            <div>
                <!-- Level -->
                <label for="level">Level:</label>
                <select formControlName="level" class="form-control mb-4" placeholder="Level">
                    <option [ngValue]="null">Select level...</option>                
                    <option *ngFor="let level of eLanguageLevels | keyvalue" [ngValue]="level.value">{{level.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('level').errors && (rForm.get('level').touched || rForm.get('level').dirty)">                
                    <span *ngIf="rForm.get('level').errors.required">Level is required</span>
                </span>
            </div>
            <div>
                <!-- Language -->
                <label for="language">Language:</label>
                <select formControlName="language" class="form-control mb-4" placeholder="Level">
                    <option [ngValue]="null">Select language...</option>                
                    <option *ngFor="let language of eActivityLenguages | keyvalue" [ngValue]="language.value">{{language.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('language').errors && (rForm.get('language').touched || rForm.get('language').dirty)">                
                    <span *ngIf="rForm.get('language').errors.required">Language is required</span>
                </span>
            </div>
            <div>
                <!-- Date -->
                <label for="date">Title date:</label>
                <input type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('date').errors && (rForm.get('date').touched || rForm.get('date').dirty)">                
                    <span *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</span>
                </span>
            </div>
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div>
