p {
  margin: 0;
}

.wrapper-container {
  margin: 0 20px;
}

.container {
  display: flex;
}

.container span {
  width: 30%;
  font-weight: bold;
  text-transform: capitalize;
}

.container p {
  width: 70%;
}

.wrapper-buttons {
  display: flex;
  justify-content: flex-end;
}

.wrapper-buttons button {
  margin: 0 5px;
}
