*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
header {
    padding: 30px;
    text-align: center;
  }

.header-item{
    margin-top: 30px ;
}

header > img {
    width: 60px;
}

.header-item > h1 {
    font-size: 40px;
}


h2 {
    text-align: center;
}

.books {
    text-align: initial;
}

