/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

/* FONTS */

h1 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 30px 0;
}

p {
    line-height: 25px;
    padding: 20px 0;
}

pre {
    line-height: 35px;
}

ul {
    padding: 0 50px;
}

ul>li {
    padding: 10px;
}

/* MOBILE DEVICE */

/* MAIN */

main {
    width: 100%;
    padding: 0 20px 0 20px;
}

/* OTHER DEVICES */

@media (min-width: 655px) {
    /* MAIN */
    main {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0 20px 0;
    }
}
